<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/assets/css/burger_style.css">
        <title>Eat Da Burger</title>
    </head>
    <body>

        <img src="/assets/img/burger.png" class="burger-img" alt="burger">
        <h1>Eat Da Burger!</h1>

        {{{ body }}}

    </body>
</html>